<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Leadtools.Kernel" version="22.0.0.8" targetFramework="net472" />
  <package id="Leadtools.Twain" version="22.0.0.8" targetFramework="net472" />
  <package id="WiaDotNet" version="1.0" targetFramework="net472" />
  <package id="ZXing.Net" version="0.16.9" targetFramework="net472" />
</packages>